// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.button-spans{
  right: 10px;
  top: 6px;
  position: absolute;
}

.button-spans span:first-child{
  margin-right: 10px;
}

.user-info p{
  margin-top: 16px;
  margin-bottom: 1rem;
}

